<main class="container">
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Eat Da Burger</h1>
    </div>
    </div>

<form>
  <div class="form-group">
    <label for="burgerInput">Enter a name of a burger you want to eat!</label>
    <input type="text" class="form-control" id="burgerInput">
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>

<div class="card" style="width: 18rem;">
  <img src="../public/assets/img/burger.png" width="100" class="card-img-top" alt="Burger">
  <div class="card-body">
    <h5 class="card-title">{{Card title}}</h5>
    <a href="#" class="btn btn-primary">Devour It!</a>
  </div>
</div>


</main>
