
<div class="jumbotron jumbotron-fluid bg-warning">
    <div class="container">
        <h1 class="display-4">Eat Da Burger</h1>
    </div>
</div>

<main class="container">
<form>
  <div class="form-group">
    <label for="burgerInput">Enter a name of a burger you want to eat!</label>
    <input type="text" class="form-control" id="burgerInput">
  </div>
  <button type="submit" class="btn btn-success btn-lg" id="submitBtn">Submit</button>
</form>

  {{#each burgers}}
  <div class="row">
    {{#if devoured}}
    <div class="col float-right">
      <div class="card float-right" style="width: 18rem;">
        <img src="https://media.giphy.com/media/K4x1ZL36xWCf6/giphy.gif" class="card-img-top devoured" alt="Burger">
        <div class="card-body">
          <h5 class="card-title">{{ burger }} Devoured</h5>
        </div>
      </div>
    </div>
    {{else}}
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/burger.png" class="card-img-top" alt="Burger">
        <div class="card-body">
          <h5 class="card-title">{{ burger }}</h5>
          <button type="submit" class="btn btn-warning devourBtn" id="{{ id }}">Devour It!</button>
        </div>
      </div>
    </div>
    {{/if}}
  </div>
  {{/each}}

</main>
